DATAEXISTS SELECT * FROM DBVersion
  INSERT INTO DBVersion(DBVer,DBDate,AppVer) VALUES(1,'2018-07-06','')
GO

DATAEXISTS SELECT * FROM SY_Config WHERE [ID]='SystemRegister' AND [Key]='BasicName'
  INSERT INTO SY_Config([ID],[Key],[Value]) VALUES('SystemRegister','BasicName','355FFB2079')
GO

DATAEXISTS SELECT * FROM KQ_Rule
  INSERT INTO KQ_Rule(RuleID,RuleName,RuleLateIgnore,RuleLeaveIgnore,RuleDupLimit,RuleLateLeaveCalHrs,RuleLateHrs,RuleLeaveHrs,RuleAheadHrs,RuleAheadMins,
    RuleDeferHrs,RuleDeferMins,RuleSunday,RuleMonday,RuleTuesday,RuleWednesday,RuleThursday,RuleFriday,RuleSaturday,RuleNoRule,RuleRestDays,RuleReadLate,
    RuleReadLeave,RuleReadWorkHrs,RuleNSAllowTimeS,RuleNSAllowTimeL) VALUES('R0001','普通のルール',5,5,10,30,120,120,0,30,0,30,1,1,1,1,1,1,1,0,0,0,0,0,'','')
GO

DATAEXISTS SELECT * FROM KQ_RuleCalc
  INSERT INTO KQ_RuleCalc(SortID,SortName,CalcTypeID,CalcTypeName,OvertimeTypeID,OvertimeTypeName,Start,Tune,[Integer],WorkRate,OvertimeRate,LeaveRate,
    AbsenceRate) VALUES('A001','正常出勤',0,'タイプ',NULL,'',0,0,0,1,1,1,1);
  INSERT INTO KQ_RuleCalc(SortID,SortName,CalcTypeID,CalcTypeName,OvertimeTypeID,OvertimeTypeName,Start,Tune,[Integer],WorkRate,OvertimeRate,LeaveRate,
    AbsenceRate) VALUES('A011','定期的な残業',1,'残業タイプ',1,'定期的',0,0,0,1,1,1,1);
  INSERT INTO KQ_RuleCalc(SortID,SortName,CalcTypeID,CalcTypeName,OvertimeTypeID,OvertimeTypeName,Start,Tune,[Integer],WorkRate,OvertimeRate,LeaveRate,
    AbsenceRate) VALUES('A012','週末の残業',1,'残業タイプ',2,'週末',0,0,0,1,1,1,1);
GO

DATAEXISTS SELECT * FROM SY_IDName
  INSERT INTO SY_IDName([Class],[ID],[Name]) VALUES('KQ','AbsentDays','欠勤');
  INSERT INTO SY_IDName([Class],[ID],[Name]) VALUES('KQ','CalcHour','労働時間計算');
  INSERT INTO SY_IDName([Class],[ID],[Name]) VALUES('KQ','Days','日');
GO

DATAEXISTS SELECT * FROM RS_Depart
  INSERT INTO RS_Depart(DepartID,DepartName,DepartUpID,DepartMemo) VALUES('0001','会社','','')
GO

DATAEXISTS SELECT * FROM KQ_Shift
  INSERT INTO KQ_ShiftDepart(ShiftID,DepartID) VALUES('001','0001');
GO

DATAEXISTS SELECT * FROM SY_Oprt
  INSERT INTO SY_Oprt(OprtNo,OprtName,OprtPWD,OprtDesc,OprtIsSys,OprtLastLoginTime) VALUES('ADMIN','システム管理者','038CA14B7DEE0F710FD3B68AC45CFC46','',1,now())
GO

DATAEXISTS SELECT * FROM DI_MacInfo
  INSERT INTO DI_MacInfo(MacSN,MacTypeID,MacTypeName,MacConnType,MacIP,MacPort,MacConnPWD,MacDesc,ParamInfo)
    VALUES(1,4,'','USB','','','','','');
  INSERT INTO DI_MacInfo(MacSN,MacTypeID,MacTypeName,MacConnType,MacIP,MacPort,MacConnPWD,MacDesc,ParamInfo)
    VALUES(2,4,'','LAN','192.168.1.100','5005','','','');
GO
